* {
    font-family:'Times New Roman';
}

#logout {
    text-align:right;
    display:inline-block;
    font-size:14;
    width:200px;
    height:54px;
    vertical-align:middle;
}

#logstatus {
    border-collapse:collapse;
    border-spacing:0;
    width:650px;
}

.textbox {
    height:35px;
    text-align:center;
}

.error {
    color:red;
}

.ribbon:hover {
    transform: scale(1.1);
}

.ribbon {
    text-align:center;
    display:inline-block;
    font-weight:bold;
    font-size:18;
    width:160px;
    height:54px;
    vertical-align:middle;
}

.tablinks {
    text-align:center;
    display:inline-block;
    font-weight:bold;
    font-size:14;
    width:120px;
    height:20px;
    vertical-align:middle;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

td,th {
    border:1px solid white;
    transition: all 0.3s;
    height:25px;
    vertical-align:middle;
}

th {
    background:#DFDFDF;
    font-weight:bold;
}

td {
    background:#FAFAFA;
    text-align:center;
}

tr:nth-child(even) td {
    background:#F1F1F1;
}

tr:nth-child(odd) td {
    background:#FEFEFE;
}

tr td:hover {
    background:#666;
    color:#FFF;
}


